In [1]:
import pandas as pd
import requests

In [2]:
df_hired_emp=pd.read_csv('hired_employees.csv',header=None)

In [3]:
df_hired_emp.head()

   0               1                     2     3     4
0  1     Harold Vogt  2021-11-07T02:48:42Z   2.0  96.0
1  2        Ty Hofer  2021-05-30T05:43:46Z   8.0   NaN
2  3     Lyman Hadye  2021-09-01T23:27:38Z   5.0  52.0
3  4   Lotti Crowthe  2021-10-01T13:04:21Z  12.0  71.0
4  5  Gretna Lording  2021-10-10T22:22:17Z   6.0  80.0

In [4]:
df_hired_emp.columns=['id','name','datetime','department_id','job_id']

In [5]:
df_hired_failed=df_hired_emp[df_hired_emp.isna().any(axis=1)]

In [6]:
df_hired_failed.to_csv('hired_employees_with_nulls.csv')

In [7]:
df_hired_emp=df_hired_emp.dropna()

In [ ]:
def Post_API(data):
    id=str(data.id)
    name=str(data.name)
    datetime=str(data.datetime)
    department_id=str(data.department_id)
    job_id=str(data.job_id)
    json='{"id":'+id+',"name":'+name+',"datetime":'+datetime+',"department_id":'+department_id+', "job_id":'+job_id+'}'
    url = "http://127.0.0.1:5000/departments" 
    response = requests.post(url, data = json)
    return response

df_hired_emp["Response"] = df_hired_emp.apply(Post_API, axis = 1)